<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    
    <div class="app">
        <nav class="orange darken-1">
           <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo">Travel App</a>
                </div>
           </div>
        </nav>
        <div class="content">
            <div class="container">
                
            </div>
        </div>
        <footer class="footer page-footer orange darken-1">
            <div class="footer-copyright">
                <div class="container">
                <p class="center"> 
                    <a class="author-link" href="https://github.com/ukabyl">ukabyl</a>
                </p>
                </div>
            </div>
        </footer>
    </div>

    <script src="main.js"></script>
</body>
</html>